#menu-bar {
	font-size: 20px;
  display: flex;
  font-family: ";";
  margin-top: 3%;
}

.menu1 {
	color: black;
  padding-left: 1%;
  width: 100%;
}

.menu2 {
	color: black;
	padding-left: 5%;
  width: 100%;
}

.side-menu-bar {
  color: black;
  text-decoration: none;
  margin-left: 4%;
}

#button1 {
  border-style: solid;
  border-color: black;
  border-radius: 33px;
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
}

#button2 {
  border-style: solid;
  border-color: black;
  background-color: black;
  color: white;
  border-radius: 33px;
  padding: 1%;
  padding-left: 4%;
  padding-right: 4%;
}
.box1 {
  background-color: darkgreen;
  width: 50%;
  padding: 3%;
  text-align: center;
  color: white;
}
.row {
  display: flex;
}
.main {
  margin-top: 7%;
}
.a_button {
  background-color: transparent;
  border-color: white;
  border-style: solid;
  color: white;
  border-radius: 33px;
  padding: 2%;
  margin-top: 7%;
}
#bckr {
  background-image: url("https://content-prod-live.cert.starbucks.com/binary/v2/asset/143-77231.jpg");
}